* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Varela Round;
}

.app {
  text-align: center;
}

.app-content {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.63)),
    url("https://source.unsplash.com/random/1280x807?nature");
  background-size: cover;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: 0.5s ease-out 0s 0.5 slideInFromLeft;
}

.welcome {
  font-size: 2rem;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-shadow: 2px 2px #00000040;
}
.quote {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.time {
  margin: 2rem 0 2rem;
  font-size: 4rem;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-shadow: 2px 2px #00000040;
}
.search-input {
  display: flex;
  width: 500px;
}

button {
  outline: none;
  height: 57px;
  text-align: center;
  width: 130px;
  margin-left: -108px;
  border-radius: 40px;
  animation: 2s ease-out 0s 1 slideInFromLeft;

  background: #00000075;
  border: 2px solid #1ecd97;
  color: #1ecd97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 25px;
  color: white;
  background: #1ecd97;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ecd97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ecd97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ecd97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input {
  background: #fff;
  color: #333;
  border: 0px solid #525050;
  border-radius: 250px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.575rem 0.95rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
  outline-width: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
